:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --icons-main-color: #afb1b8;
  --footer-icons-main-color: rgba (0, 0, 0, 0.1);
}

/* general properties */
body {
  background-color: var(--main-wthie-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

img {
  display: block;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.link {
  text-decoration: none;
  font-style: normal;
  display: block;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
p,
button,
address,
b {
  margin: 0;
  padding: 0;
}
/* header */

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  /* border: 1px #043454 solid; */
}

.header-nav-linklist {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

/* logo (header & footer) */
.logo {
  display: block;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo {
  margin-right: 64px;
}

.web-word {
  color: var(--accent-color);
}

.studio-word-header {
  color: #000000;
}

.studio-word-footer {
  color: var(--main-white-color);
}
.nav-linklist-item .link {
  padding: 32px 0px;

  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-linklist-item:not(:last-child) {
  margin-right: 40px;
}

.getintouch-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.getintouch-header .link {
  padding: 32px 0px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.getintouch-header > a {
  display: flex;
  align-items: center;
}

.link.phone {
  margin-left: 32px;
}

.address-icon {
  fill: var(--secondary-text-color);
  margin-right: 10px;
  vertical-align: baseline;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.mail:hover .envelope-icon,
.link.mail:focus .envelope-icon,
.link.phone:hover .phone-icon,
.link.phone:focus .phone-icon {
  fill: var(--accent-color);
}

.nav-linklist-item .link:hover,
.nav-linklist-item .link:focus,
.getintouch-header .link:hover,
.getintouch-header .link:focus {
  color: var(--accent-color);
}

.nav-linklist-item .current {
  padding-bottom: 0;
  color: var(--accent-color);
}

.current::after {
  content: '';
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-top: 28px;
  background-color: var(--accent-color);
}

/* main */
/* hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/header_img.jpg);
  background-color: var(--secondary-text-color);
}

.hero-header {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero .btn {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background: var(--accent-color);
  cursor: pointer;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .btn:hover {
  background-color: #188ce8;
}

/* advantages */
.advantages-section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* border: 1px solid #000000; */
}

.advantages-section .list {
  display: flex;
}

.advantage-items {
  width: 270px;
  margin-right: 30px;
}

.advantage-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-background-color);
}

.advantage-header {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* what we do  */

.works-item {
  position: relative;

  overflow: hidden;
}

.specialty-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.works-section {
  padding-bottom: 94px;
  /* border: 1px solid #000000; */
}

.works-header {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.works-container .list {
  display: flex;
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

/* team */

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;

  /* border: 1px solid #000000; */
  background-color: var(--secondary-background-color);
}

.team-header {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-section .list {
  display: flex;
  justify-content: center;
}

.worker {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-white-color);
}

.worker:not(:last-child) {
  margin-right: 30px;
}

.worker-header {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.worker-image {
  margin-bottom: 30px;
}

.worker-position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.list.worker-social {
  padding: 0px 32px 24px 32px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.icon-container .link {
  padding: 12px 12px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-container .link:hover,
.icon-container .link:focus {
  background-color: var(--accent-color);
}

.worker-social-link .icon {
  display: block;
  fill: var(--icons-main-color);
}

.link .icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-container .link:hover .icon,
.icon-container .link:focus .icon {
  fill: white;
}

.worker-social .icons:not(:last-child) {
  margin-right: 10px;
}

/* loyal customers */

.customers-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-container > .list {
  display: flex;
}

.customers-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.customers-item {
  display: flex;
  width: 170px;
  height: 90px;
  margin-right: 30px;

  border: 1px solid var(--icons-main-color);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:last-child {
  margin-right: 0px;
}

.customers-item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.company-icon {
  fill: var(--icons-main-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:hover,
.customers-item:focus {
  border-color: var(--accent-color);
}

.customers-item .link:hover .company-icon,
.customers-item .link:focus .company-icon,
.customers-item:hover .company-icon,
.customers-item:focus .company-icon {
  fill: var(--accent-color);
}

/* FOOTER */

.footer {
  padding-top: 64px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.contacts-container {
  margin-right: 64px;
}

.footer-logo {
  margin-bottom: 20px;
}

.getintouch-address {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.getintouch-address .link {
  margin-bottom: 9px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.getintouch-address > .address {
  color: var(--main-white-color);
}

.getintouch-address > .footer-mail {
  color: inherit;
}

.getintouch-address > .footer-phone {
  margin-bottom: 0;
  color: inherit;
}

.getintouch-address .link:hover,
.getintouch-address .link:focus {
  color: var(--accent-color);
}

.socialize-container {
  margin-right: 94px;
}

.socialize-text {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.socialize-container > .list {
  display: flex;
  color: var(--secondary-text-color);
}

.footer-social-item .footer-icon {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icon .icon {
  display: block;
  fill: var(--main-white-color);
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.subscribe-container > .text {
  display: block;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white-color);
}

/* PORTFOLIO PAGE  */

.portfolio-section {
  padding: 94px 0px;
}

/* filter buttons section  */
.portfolio-container > .filter-section {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-section-item:not(:last-child) {
  margin-right: 8px;
}

.filter-section-btn {
  text-align: center;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background: var(--secondary-background-color);

  border: none;
  border-radius: 4px;

  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-section-btn:hover,
.filter-section-btn:focus {
  color: var(--main-white-color);
  background: var(--accent-color);
}

.filter-section-btn:active {
  background: #0a4e72;
}

/* projects  */

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-text {
  padding: 24px 20px;

  border: 1px solid #eeeeee;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.projects-item .link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item .link:hover,
.projects-item .link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-image {
  display: block;
}

.projects-header {
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-type {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-overlay {
  position: relative;

  overflow: hidden;
}

.projects-description {
  position: absolute;
  left: 0;
  top: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--main-white-color);
  background-color: var(--accent-color);

  opacity: 0.9;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item .link:hover .projects-description {
  transform: translateY(0);
}

.projects-header:hover,
.projects-header:focus,
.projects-type:hover,
.projects-type:focus {
  color: var(--accent-color);
}
