:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --icons-main-color: #afb1b8;
  --footer-icons-main-color: rgba (0, 0, 0, 0.1);
}

/* general properties */
html {
  box-sizing: border-box;
}

body {
  background-color: var(--main-wthie-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  font-style: normal;
  display: block;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul {
  margin: 0;
  padding: 0;
}
/* header */

.header {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  border: 1px #043454 solid;
}

.header-nav-linklist {
  display: flex;
  margin-left: 0px;
  padding: 0px;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

/* logo (header & footer) */
.logo {
  display: block;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo {
  margin-right: 64px;
}

.web-word {
  color: var(--accent-color);
}

.studio-word-header {
  color: #000000;
}

.studio-word-footer {
  color: var(--main-white-color);
}
.nav-linklist-item {
  padding: 32px 0px;
}

.nav-linklist-item:not(:last-child) {
  margin-right: 40px;
}

.nav-linklist-item .link {
  color: inherit;
}

.getintouch-header {
  display: flex;
  margin-left: auto;
}

.getintouch-header .link,
.getintouch-header .link {
  padding: 32px 0px;
}
.getintouch-header .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.getintouch-header-phone {
  margin-left: 32px;
}

.web-word,
.nav-linklist-item:hover,
.nav-linklist-item:focus,
.getintouch-header .link:hover,
.getintouch-header .link:focus {
  color: var(--accent-color);
}

.nav-linklist-item .link.current {
  color: var(--accent-color);
}

/* main */
/* hero */

.hero {
  width: 1200px;
  max-height: 600px;
  padding: 0px 15px;
  text-align: center;

  border: 1px solid #000000;
}

.hero-container {
  padding: 200px 0px;
}

.hero-header {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
}

.hero .btn {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background: var(--accent-color);

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* advantages */
.secondary-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.advantage-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* what we do  */

.specialty-header {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white-color);
  background-color: var(--primary-text-color);
}

/* workers  */

.worker-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.worker-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.footer {
  background-color: var(--footer-background-color);
}

/* loyal customers */

/* contacts */

.getintouch-address .link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-white-color);
}

.getintouch-mail .link,
.getintouch-phone .link {
  font-size: 14px;
  line-height: 1.71px;
  color: rgba(255, 255, 255, 0.6);
}

.getintouch .link:hover,
.getintouch .link:focus {
  color: var(--accent-color);
}
.socialize-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

/* PORTFOLIO PAGE  */

/* filter buttons section  */
.filter-section-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background: var(--secondary-background-color);
}

.filter-section-btn:hover,
.filter-section-btn:focus {
  color: var(--main-white-color);
  background: var(--accent-color);
}

.filter-section-btn:active {
  background: #0a4e72;
}

/* projects  */

.projects-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.projects-type {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.projects-description {
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.projects-header:hover,
.projects-header:focus,
.projects-type:hover,
.projects-type:focus {
  color: var(--accent-color);
}
