@import './base/normalize';
@import './base/basic_settings';
@import './utils/variables';
@import './utils/mixins';
@import './utils/placeholders';
@import './components/logo';
@import './components/buttons';
@import './components/company-icons';
@import './components/container';
@import './components/icon-container';
@import './components/icons';
@import './components/modal';
@import './components/subscribe-footer-form';
@import './components/active-page-underline.scss';
@import './layout/header';
@import './layout/hero';
@import './layout/advantages';
@import './layout/works';
@import './layout/team';
@import './layout/customers';
@import './layout/footer';
@import './layout/portfolio';
