.footer {
  padding-top: 64px;
  padding-bottom: 60px;
  background-color: $footer-background-color;

  .container {
    @extend %alignCenter;
    align-items: baseline;
  }

  .contacts-container {
    margin-right: 64px;
  }

  .socialize-container {
    margin-right: 94px;
  }
}

.getintouch-address {
  font-size: 14px;
  line-height: 1.71;
  color: $light-grey-color;

  .link {
    margin-bottom: 9px;

    @include transition(color);
  }

  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }

  .address {
    color: $main-white-color;
  }

  .footer-mail {
    color: inherit;
  }

  .footer-phone {
    margin-bottom: 0;
    color: inherit;
  }
}

.socialize-text {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-white-color;
}

.socialize-container > .list {
  display: flex;
  color: $secondary-text-color;
}
