.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-background-color;

  .socialize-container {
    @extend %alignCenter;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .contacts-container {
    margin-bottom: 60px;
  }
}

@media screen and (mix-width: $desktop) {
  .footer {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: $desktop) {
  .socialize-container {
    margin-right: 94px;
  }
}

@media screen and (min-width: $desktop) {
  .contacts-container {
    margin-right: 94px;
  }
}

@media screen and (min-width: $desktop) {
  .footer {
    padding-bottom: 64px;
  }
}

@media screen and (min-width: $tablet) {
  .footer .container {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  .contacts-container {
    padding-left: 61px;
  }

  .socialize-container {
    padding-right: 74px;
  }

  .subscribe-container {
    padding-left: 151px;
  }
}

.getintouch-address {
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  color: $light-grey-color;

  .link {
    margin-bottom: 9px;

    @include transition(color);
  }

  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }

  .address {
    color: $main-white-color;
  }

  .footer-mail {
    color: inherit;
  }

  .footer-phone {
    margin-bottom: 0;
    color: inherit;
  }
}

.socialize-container {
  @extend %alignCenter;
  flex-direction: column;
}

.socialize-text {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-white-color;
}

.socialize-container > .list {
  display: flex;
  color: $secondary-text-color;
}
