.header {
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  max-width: $mobile;
  margin: 0 auto;

  &-container {
    display: flex;
    width: 100%;
  }
}

.header-nav {
  @extend %alignCenter;
}

@media screen and (min-width: $tablet) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
    max-width: $tablet;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: $desktop) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: $desktop;
  }
}

.nav-linklist-item {
  display: none;
  &:not(:last-child) {
    margin-right: 40px;
  }

  .link {
    display: block;
    color: inherit;
    @include transition(color);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .current {
    padding-bottom: 0;
    color: $accent-color;
  }
}

@media screen and (min-width: $tablet) {
  .nav-linklist-item {
    display: block;
  }
}

.header-nav-linklist {
  display: flex;
  align-items: center;
}

.getintouch-header {
  display: none;
  margin-left: auto;

  .link {
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @include transition(color);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

@media screen and (min-width: $tablet) and (max-width: 1199px) {
  .getintouch-header .link:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: $desktop) {
  .getintouch-header a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: $tablet) {
  .getintouch-header {
    display: block;
  }
}

@media screen and (min-width: $desktop) {
  .getintouch-header {
    display: flex;
  }
}

@media screen and (min-width: $desktop) {
  .link.phone {
    margin-left: 32px;
  }
}

.address-icon {
  fill: $secondary-text-color;
  margin-right: 10px;
  vertical-align: baseline;
  @include transition(fill);

  .link.mail:hover &,
  .link.mail:focus &,
  .link.phone:hover &,
  .link.phone:focus & {
    fill: $accent-color;
  }
}
