.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &-nav-linklist,
  &-container {
    @extend %alignCenter;
  }
}

.nav-linklist-item {
  &:not(:last-child) {
    margin-right: 40px;
  }

  .link {
    padding: 32px 0px;

    color: inherit;
    @include transition(color);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .current {
    padding-bottom: 0;
    color: $accent-color;
  }
}

.getintouch-header {
  @extend %alignCenter;
  margin-left: auto;

  .link {
    padding: 32px 0px;

    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @include transition(color);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  a {
    @extend %alignCenter;
  }
}

.link.phone {
  margin-left: 32px;
}

.address-icon {
  fill: $secondary-text-color;
  margin-right: 10px;
  vertical-align: baseline;
  @include transition(fill);

  .link.mail:hover &,
  .link.mail:focus &,
  .link.phone:hover &,
  .link.phone:focus & {
    fill: $accent-color;
  }
}
