.works-item {
  position: relative;

  overflow: hidden;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.specialty-header {
  @extend %alignCenter;
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $main-white-color;
  background-color: $blackout;
}

.works-section {
  padding-bottom: 94px;
}

.works-header {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.works-container .list {
  display: flex;
}
