/* палитра цветов */
/* main background color #ffffff */
/* secondary background color #F5F4FA */
/* accent color #2196F3 */
/* text color #212121 */
/* secondary text color #757575 */
/* footer background color #2F303A */
/* icons color: #AFB1B8 */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --icons-main-color: #afb1b8;
  --footer-icons-main-color: rgba (0, 0, 0, 0.1);
}

/* general properties */

body {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* header */

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-nav .logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.web-word {
  color: var(--accent-color);
}

.studio-word {
  color: var(--primary-text-color);
}

.nav-linklist-item .link {
  color: var(--primary-text-color);
}
.nav-linklist-item .link:hover,
.nav-linklist-item .link:focus {
  color: var(--accent-color);
}

.header-connect .link {
  color: var(--secondary-text-color);
  font-style: normal;
}
.header-connect .link:hover,
.header-connect .link:focus {
  color: var(--accent-color);
}

/* main */
/* hero */
.hero {
  background-image: url(./images/header_img.jpg);
  height: 600px;
  width: 1600px;
}
.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
}
