.btn,
.subscribe-button {
  @extend %buttons;

  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}

.btn {
  padding: 10px 32px;
  text-decoration: none;
}

.subscribe-button {
  @extend %alignCenter;
  padding: 10px 29px;
}

.order-send-button {
  @extend %pageCentering;
  width: 200px;
}

.closing-button {
  @extend %alignCenter;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  border: 1px solid $footer-icons-main-color;
  border-radius: 50%;
  background-color: $main-white-color;
  cursor: pointer;
  outline: none;

  @include transition(border-color);

  &:hover {
    border-color: $accent-color;
  }
}

.closingmark-icon {
  @include transition(fill);

  .closing-button:hover & {
    fill: $accent-color;
  }
}

.filter-section {
  @extend %alignCenter;
  margin-bottom: 50px;

  &-item:not(:last-child) {
    margin-right: 8px;
  }

  &-btn {
    text-align: center;
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background: $secondary-background-color;

    border: none;
    border-radius: 4px;

    cursor: pointer;
    @include transition(color);
    @include transition(background);
  }

  &-btn:hover,
  &-btn:focus {
    color: $main-white-color;
    background: $accent-color;
  }
}
