.icon {
  .worker-social-link & {
    display: block;
    fill: $icons-main-color;
  }

  .link & {
    @include transition(fill);
  }

  .icon-container .link:hover &,
  .icon-container .link:focus & {
    fill: $main-white-color;
  }

  .footer-icon & {
    display: block;
    fill: $main-white-color;
  }
}

.worker-social .icons:not(:last-child) {
  margin-right: 10px;
}

.footer-social-item {
  &:not(:last-child) {
    margin-right: 10px;
  }

  .footer-icon {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.subscribe-icon {
  display: block;
  fill: $main-white-color;
}
