.icon-container {
  @extend %alignCenter;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;

  .link {
    padding: 12px 12px;

    @include transition(background-color);
  }

  .link {
    @include transition(fill);
  }

  .link:hover,
  .link:focus {
    background-color: $accent-color;
  }
}
