.order-popup {
  @extend %alignCenter;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: $popup-layout-color;

  opacity: 1;
  @include transition(opacity);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.order-popup-window {
  position: relative;
  max-width: 528px;
  display: flex;
  flex-direction: column;
  padding: 40px;

  background-color: $main-white-color;
  @extend %cardBorderShadow;
  border-radius: 4px;
}

.popup-call {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.popup-line {
  position: relative;
  margin-bottom: 28px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
}

.popup-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  @include transition(fill);

  .popup-input:focus ~ &,
  .popup-input:not(:placeholder-shown) ~ & {
    fill: $accent-color;
  }
}

.popup-input {
  display: block;
  width: 100%;
  padding: 12px 42px;

  border: 1px solid $label-color;
  border-radius: 4px;
  outline: none;
  @include transition(border-color);

  &:focus,
  &:not(:placeholder-shown) {
    border-color: $accent-color;
  }
}

.popup-textarea {
  width: 100%;
  height: 120px;
}

.popup-label {
  @include transition(transform);
}

.popup-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  pointer-events: none;

  @include transition(font-size);
}

.popup-input:focus,
.popup-input:not(:placeholder-shown) {
  + .popup-label {
    font-size: 12px;
    color: $accent-color;
  }

  + .popup-label.name {
    transform: translate(-114%, -300%);
  }

  + .popup-label.tel {
    transform: translate(-55%, -300%);
  }

  + .popup-label.email {
    transform: translate(-80%, -300%);
  }
}

.popup-commentary {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 20px;

  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
}

.popup-label-commentary {
  position: absolute;
  top: 12px;
  left: 16px;

  pointer-events: none;

  @include transition(font-size);
}

.popup-label-commentary {
  @include transition(transform);
}

.popup-textarea {
  width: 100%;
  padding: 12px 16px;

  border: 1px solid $label-color;
  border-radius: 4px;
  outline: none;
  @include transition(border-color);

  resize: none;
}

.popup-textarea:focus + .popup-label-commentary,
.popup-textarea:not(:placeholder-shown) + .popup-label-commentary {
  font-size: 12px;
  color: $accent-color;
  transform: translateY(-240%);
}

.popup-agreement {
  position: relative;
  margin-left: 13px;
  padding-left: 24px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  color: $secondary-text-color;
}

.popup-agreement-text::after {
  @include transition(border-color);
}

.popup-agreement-text::after {
  position: absolute;
  top: 3px;
  left: 0;

  content: '';
  display: block;
  width: 16px;
  height: 15px;
  padding: 4px 2px 3px 3px;

  background-origin: border-box;
  background-image: url('../images/checkmark.svg');
  background-size: 13px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid $primary-text-color;
  border-radius: 2px;

  @include transition(background-color);

  .checkbox:checked + & {
    background-color: $accent-color;
    border-color: $accent-color;
  }
}

.legal-agreement {
  color: $accent-color;
}
