.subscribe-container {
  @extend %alignCenter;
  flex-direction: column;
}

.subscribe-container > .text {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $main-white-color;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (mix-width: $desktop) {
  .subscribe-form {
    flex-direction: row;
  }
}

.subscribe-container-form {
  position: relative;
  margin-bottom: 20px;
  display: block;
}

@media screen and (mix-width: $desktop) {
  .subscribe-container-form {
    margin-bottom: 0;
  }
}

.subscribe-field {
  display: block;
  width: 480px;
  padding: 15px;

  color: $main-white-color;
  background-color: transparent;
  @extend %subscribeField;

  outline: none;

  @include transition(border-color);

  &:focus {
    border-color: $accent-color;
  }
}

@media screen and (mix-width: $desktop) {
  .subscribe-field {
    margin-right: 12px;
  }
}

.subscribe-ph {
  @include transition(transform);
}

.subscribe-ph {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: $secondary-text-color;

  pointer-events: none;

  @include transition(color);

  .subscribe-field:focus + &,
  .subscribe-field:not(:placeholder-shown) + & {
    transform: translate(-165%, -50%);
    color: $main-white-color;
  }
}

.subscribe-claim {
  margin-right: 10px;
}
